<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The FreeBSD Community.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E81E102918EC22E300A07B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81E105A18EC236500A07B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E883F59E18E6E7850065CD49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E883F5B918E6E7850065CD49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
